.container {
    background-color: rgb(240, 242, 249);
}

.note-header {
    background-color: rgb(28, 78, 216);
}

label {
    color: rgb(164, 165, 170);
    font-size: 10pt;
    font-weight: 500;
}

.input-text,
textarea,
.date {
    border-radius: 5px;
    background-color: transparent;
    border: 2px solid rgb(162, 162, 162);
}

.button {
    background-color: rgb(28, 78, 216);
}

.button:hover {
    background-color: rgba(28, 78, 216, 0.66);
}

/* ///// */
.container {
    background-color: rgb(240, 242, 249);
}

.note-header {
    background-color: rgb(28, 78, 216);
}

label {
    color: rgb(164, 165, 170);
    font-size: 10pt;
    font-weight: 500;
}

.input-text,
textarea,
.date {
    border-radius: 5px;
    background-color: transparent;
    border: 2px solid rgb(162, 162, 162);
}
.edit, .delete{
    font-size: 20px;
}

.button {
    background-color: rgb(28, 78, 216);
}

.add {
    width: 70px;
    height: 70px;
}

.add-button {
    position: absolute;
    bottom: 10px;
    right: 50%;
    /* transform: translateX(-50%, 50%); */
    position: fixed;

}